@import 'config';

/*
 * Base structure
 */
html,
body {
  height: 100%;
}
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $primary-color;
  font-family: $font-stack;
}

/*
 * Navigation
 */
.bg-dark {
  background-color: #1d1d1d !important;
}
.navbar-brand {
  margin-left: 10% !important;
}
.navbar-nav {
  margin-right: 10% !important;
}

/*
 * Main Content
 */
.body-text {
  color: #999;
  line-height: 1.8;
  font-weight: 600;
}
h1 {
  font-size: 3.5rem;
}
main {
  margin-top: 5%;
}
main {
  .container {
    padding: 60px 15px 0;
  }
}
.bg-beluga {
  background-color: #3f3f3f;
}

/*
 * Forms
 */
.form-signup,
.form-signin {
  width: 100%;
  max-width: 430px;
  padding: 15px;
  margin: auto;
  background-color: #f9f9f9;
}
.form-signin {
  .checkbox {
    font-weight: 400;
  }
}
.form-signup,
.form-signin {
  .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
}
.form-signup,
.form-signin {
  .form-control:focus {
    z-index: 2;
  }
}
.form-signup {
  input[type='email'] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}
.form-signup,
.form-signin {
  input[type='password'] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

/*
 * Alert Messages
 */
/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
  color: red;
}

/*
 * Modal Image
 */
/* Style the Image Used to Trigger the Modal */
#coverImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
#coverImg:hover {
  opacity: 0.7;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}
/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 20%;
  max-width: 700px;
}
/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}
/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

/*
 * Review
 */
/* Style the container with a rounded border, grey background and some padding and margin */
.reviews {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
}

/* Clear floats after containers */
.reviews::after {
  content: '';
  clear: both;
  display: table;
}

/* Float images inside the container to the left. Add a right margin, and style the image as a circle */
.reviews img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

/* Increase the font-size of a span element */
.reviews span {
  font-size: 20px;
  margin-right: 15px;
}

/* Add media queries for responsiveness. This will center both the text and the image inside the container */
@media (max-width: 500px) {
  .reviews {
    text-align: center;
  }

  .reviews img {
    margin: auto;
    float: none;
    display: block;
  }
}

/*
 * Footer
 */
.footer {
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 0.05rem solid #e5e5e5;
  p:last-child {
    margin-bottom: 0;
  }
}
.footer {
  .container {
    padding-right: 1.8rem;
    padding-left: 1.8rem;
  }
}
