{% extends "layout.html" %}

{% block head %} 
    {{ super() }} 
{% endblock %} 

{% block title %}
    Home
{% endblock %}

{% block header %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3 fixed-top shadow">
        <a class="navbar-brand" href="#">Book-Bosomed</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav ml-auto px-4">
            <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{ url_for('search') }}">Search</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Sign out</a>
            </li>
            <li class="nav-item border rounded">
            <a class="nav-link" href="{{ url_for('register') }}">Sign up</a>
            </li>
        </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <main role="main" class="flex-shrink-0 mt-2 h-100">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <!-- Trigger the Modal -->
                    <img id="coverImg" src="{{ cover_img|safe }}" class="img-fluid mb-2 float-md-right" alt="{{ the_title|e }}"  style="width:159px;height:228px;" />
                </div>
                <!-- The Modal -->
                <div id="myModal" class="modal">
                    <!-- The Close Button -->
                    <span class="close">&times;</span>

                    <!-- Modal Content (The Image) -->
                    <img class="modal-content" id="showCoverImg">

                    <!-- Modal Caption (Image Text) -->
                    <div id="caption">{{ the_title|e }}</div>
                </div>
                <div class="col-sm-9 text-white">
                    <p>
                        <strong class="d-block">{{ the_title|e }}</strong>
                        <span class="d-block pb-1">by {{ the_author|e }}</span>
                        Total Rating {{ total_ratings|e }} |
                        Avg Rating {{ average_ratings|e }} |
                        published {{ the_year|e }}
                    </p>
                    <p>{{ description|safe }}</p>
                </div>
            </div>
            <div class="col-sm-10 mx-auto mt-2 mb-2 p-3 bg-white rounded shadow-sm">
                <h4>User, start your review of {{ the_title|e }}</h4>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <form action="/book/{{ book_id }}" method="post" class="border-bottom pb-2 mb-0">
                    <label for="description" class="col-form-label text-right">Your Thoughts</label>
                    <div id="parent">
                    <div id="editor"></div>
                    <input type="hidden" id="review-book" name="reader_review" aria-label="Book Review" aria-describedby="review-button" />
                    <!--<textarea id="description" name="description"></textarea>-->
                    </div>
                    <button class="btn btn-primary mt-2" type="submit" id="review-button">Submit Review</button>
                </form>
                {% for items in review_list %}
                    <div class="reviews media text-muted pt-3 border-bottom border-gray">
                        <img src="bandmember.jpg" alt="Avatar" style="width:90px">
                        <p class="media-body pb-3 mb-0 small lh-125"><span>Chris Fox.</span> CEO at Mighty Schools.</p>
                        <p class="media-body pb-3 mb-0 small lh-125">John Doe saved us from a web disaster.</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
    <script>
        // Get the modal
        var modal = document.getElementById('myModal');

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById('coverImg');
        var modalImg = document.getElementById('showCoverImg');
        var captionText = document.getElementById('caption');
        img.onclick = function() {
        modal.style.display = 'block';
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
        };

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        // Get the <span> element that closes the modal
        //var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        //span.onclick = function() {
            //modal.style.display = "none";
        //} 
    </script>
{% endblock %}