{% extends "layout.html" %}

{% block head %} 
    {{ super() }} 
{% endblock %} 

{% block title %}
    Home
{% endblock %}

{% block header %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3 fixed-top shadow">
        <a class="navbar-brand" href="#">Book-Bosomed</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav ml-auto px-4">
            <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Sign out</a>
            </li>
            <li class="nav-item border rounded">
            <a class="nav-link" href="{{ url_for('register') }}">Sign up</a>
            </li>
        </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-6 my-auto text-white">
                <ul>
                    <li><strong>{{ the_title|e }}</strong></li>
                    <li>Total Rating {{ total_ratings|e }}</li>
                    <li>Avg Rating {{ average_ratings|e }}</li>
                    <li>by {{ the_author|e }}</li>
                    <li>published {{ the_year|e }}</li>
                    <li>ISBN:{{ the_isbn|e }}</li>
                </ul>
            </div>
            <div class="col-md-6">
                <p>{{ description|safe }}</p>
            </div>
        </div>
    </main>
{% endblock %}