{% extends "layout.html" %}

{% block head %} 
    {{ super() }} 
{% endblock %} 

{% block title %}
    Home
{% endblock %}

{% block header %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3 fixed-top shadow">
        <a class="navbar-brand" href="#">Book-Bosomed</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav ml-auto px-4">
            <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{ url_for('search') }}">Search</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Sign out</a>
            </li>
            <li class="nav-item border rounded">
            <a class="nav-link" href="{{ url_for('register') }}">Sign up</a>
            </li>
        </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <main role="main" class="flex-shrink-0 mt-2 h-100">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <!-- Trigger the Modal -->
                    <img id="coverImg" src="{{ cover_img|safe }}" alt="{{ the_title|e }}"  style="width:146px;height:222px;" />
                </div>
                <!-- The Modal -->
                <div id="myModal" class="modal">
                    <!-- The Close Button -->
                    <span class="close">&times;</span>

                    <!-- Modal Content (The Image) -->
                    <img class="modal-content" id="showCoverImg">

                    <!-- Modal Caption (Image Text) -->
                    <div id="caption"></div>
                </div>
                <div class="col-md-10 text-white">
                    <p>
                        <strong class="d-block">{{ the_title|e }}</strong>
                        <span class="d-block pb-1">by {{ the_author|e }}</span>
                        Total Rating {{ total_ratings|e }} |
                        Avg Rating {{ average_ratings|e }} |
                        published {{ the_year|e }}
                    </p>
                    <p>{{ description|safe }}</p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}