{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block header %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3 fixed-top shadow">
        <a class="navbar-brand" href="#">Book-Bosomed</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav ml-auto px-4">
            <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/logout">Sign out</a>
            </li>
            <li class="nav-item border rounded">
            <a class="nav-link" href="#">Sign up</a>
            </li>
        </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <main role="main" class="container">
        <h1>TODO</h1>
    </main>
{% endblock %}