{% extends "layout.html" %} 

{% block head %} 
    {{ super() }}
    <style>
        body {
            background-color: #f9f9f9;
        }
    </style> 
{% endblock %}

{% block title %} 
    Search für Books 
{% endblock %} 

{% block header %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3 fixed-top shadow">
        <a class="navbar-brand" href="{{ url_for('index') }}">Book-Bosomed_</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto px-4">
            <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('logout') }}">Sign out <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{ url_for('register') }}"><span class="border rounded p-2">Sign up</span></a>
            </li>
        </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <main role="main" class="flex-shrink-0 col-lg-5 mx-auto h-100">
      <div class="container">
        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-beluga rounded shadow-sm">
          <span data-feather="coffee" style="width:60px; height:60px; color:white;"></span>
          <div class="lh-100 ml-2">
            <h6 class="mb-0 text-white lh-100">Reading Room_</h6>
            <small>Est. 1977</small>
          </div>
        </div>

        <div class="my-2 p-3 bg-white rounded shadow-sm">
          <form action="{{ url_for('search') }}" method="post" class="border-bottom pb-2 mb-0">
            <label class="sr-only">Search for Books</label>
            <div class="input-group mb-3">
              <input id="search-books" type="text" name="search-books" autofocus class="form-control" placeholder="Search for books..." title="Please enter ISBN, title or author to be searched." aria-label="Search for books" aria-describedby="search-button" required />
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" id="search-button">Search</button>
              </div>
            </div>
          </form>
          {% for items in book_list %} <!-- Here I have converted a link into submit button and added the book id to the input value -->
            <div class="media text-muted pt-3 border-bottom border-gray">
              <form id="{{ items.id }}" action="{{ url_for('book') }}" method="post">
                <p class="media-body pb-3 mb-0 small lh-125">
                  <input type="hidden" name="book-id" value="{{ items.id }}" />
                  <a href="#" onclick="document.getElementById('{{ items.id }}').submit();"><strong class="d-block">{{ items.title|e }}</strong></a> 
                  <span class="d-block pb-1">by {{ items.author|e }}</span>
                  published {{ items.year|e }}
                  | {{ items.rate_average|e }} average based on  
                  {{ items.rate_count|e }} ratings  
                  | ISBN:{{ items.isbn|e }}
                </p>
              </form>
            </div>
          {% endfor %}
          {% if nonsuch %}
            <header>
                <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
                    <p class="text-center font-weight-bold my-auto"><i>{{ nonsuch }}</i></p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </header>
          {% endif %}
          <small class="d-block text-right mt-3">
            <a href="#">Back to top</a>
          </small>
        </div>

        <div class="my-2 p-3 bg-white rounded shadow-sm">
          <h6 class="border-bottom pb-2 mb-0">Fellow Bibliophile</h6>
          <div class="media text-muted pt-3">
            <!-- include icons/placeholder.svg width="32" height="32" background="#007bff" color="#007bff" class="mr-2 rounded" -->
            <div class="media-body pb-3 mb-0 small lh-125 border-bottom">
              <div class="d-flex justify-content-between align-items-center w-100">
                <strong class="text-gray-dark">Full Name</strong>
                <a href="#">Follow</a>
              </div>
              <span class="d-block">@username</span>
            </div>
          </div>
          <small class="d-block text-right mt-3">
            <a href="#">All suggestions</a>
          </small>
        </div>
      </div>
    </main>
{% endblock %}